*__pycache__

Hypergraph_clustering_based_on_PageRank/SubmodularHeatEquation/bin/Debug/SubmodularHeatEquation.pdb
Hypergraph_clustering_based_on_PageRank/SubmodularHeatEquation/bin/Debug/SubmodularHeatEquation.exe
Hypergraph_clustering_based_on_PageRank/SubmodularHeatEquation/obj
Hypergraph_clustering_based_on_PageRank/.idea/
Hypergraph_clustering_based_on_PageRank/SubmodularHeatEquation/bin
*.idea